:root {
	--color-1-tipo: rgba(90,10,244,1.0);
	--color-2-tipo: rgba(88,99,1,1.0);
	--color-3-tipo: rgba(165,42,42,1.0);

}
.container{
	background-color:var(--color-1-tipo);
	width: 100%;
	height: 98vh;
	overflow: hidden;
	vertical-align: center;
	text-align: center;

}
.cardInfo{
	background-color: var(--color-3-tipo);
	width: 90%;
	margin: auto;
	font-size: 1em;
}
.cardPersonal{
	margin:auto ;
	background-color: var(--color-2-tipo);
	margin-top: 15%;
	width: 20%;
	height: 12vh;
	overflow: hidden;
	border-radius: 25px 25px;
	transition: width 2s,height: 2s;
}
.cardImagen img  {
	width: 20%;
	height: 20%;
	border-radius: 25px 25px;

}
